.blog-wrapper {
    padding: 7% 0%;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    column-gap: 3%;
    row-gap: 2%;
    padding: 2%;
    margin-top: 50px;
}

@media (max-width: 1300px) {
    .articles-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-wrapper {
        margin-bottom: 10px;
    }
}
