body {
    color: #eff4f4;
}

.App {
    cursor: default;
}

/* BACKGROUND COVER */

.background-cover {
    position: relative;
    background-image: linear-gradient( #2344656b, #23446569 ), 
    url(./images/kitty-bg.jpg);
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HELPERS */

.bold {
    font-weight: 700;
}

/* SECTION BUTTON */

.section-btn {
    display: flex;
    justify-content: center;
    background: darkgoldenrod;
    border-radius: 5px;
    transition: 0.5s;
}

.section-btn a {
    color: white;
    text-decoration: none;
}

.section-btn:hover {
    background: #745507;
    cursor: pointer;
}
